<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
  <link href="/stylesheets/navbar.css" rel="stylesheet" />
  <link href="/stylesheets/dashboard_style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>
  <body>
    <%- include('common/navbar',{user:navbar.user}); %>
 
    <div class="container-fluid">
        <br>
        <br>
        <div class="row">
         
           
          <%if(data.length > 0 ){%>
              <% const imgs=["card_img1.svg","card_img.svg","card_img2.svg","card_img3.svg"]  %>
                <%let cur=0;%>
             <% data.forEach((ele,index)=>{ %>   
          <div class="col col-md-3 ">
            <!-- Card -->
            <div class="card">
    
              <!--Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="/images/<%=imgs[cur]%>" alt="Card image cap">
                <%cur=cur+1%>
                <% if(cur==4) cur=0 %>
                 <a href="/project/<%=ele._id%>">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
    
              <!--Card content-->
              <div class="card-body">
              
                <!--Title-->
                <h4 class="card-title"><%=ele.name%></h4> 
                <!--Text-->
                <p><strong>Created By:</strong><em><%=ele.owner%></em> </p>
                <button class="btn btn-primary" type="button" data-mdb-toggle="collapse" data-mdb-target="#des<%=index%>"
                  aria-expanded="false" aria-controls="des<%=index%>"
                  style="position: relative; width: 100%; background-color: #5f424b; color: white;">
                  Description
                </button> <br />
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <p class="card-text collapse mt-3" id="des<%=index%>">
                   <%=ele.description%>
                </p><br>
                <a class="btn " style="background-color: #515260; color:white" href="/project/<%=ele._id%>" role="button">view project</a>
    
              </div>
    
    
    
            </div>
            <!-- Card -->
          </div>
         
         <% }); %>
          
    <%}%>
        </div>
    
    
        <button type="button" class="btn  btn-floating" class="btn btn-primary" data-mdb-toggle="modal"
          data-mdb-target="#exampleModal"
          style="background-color:#ff636b;color:white;font-size: 1.5em;; position: fixed; bottom: 1%;right: 2%; z-index: 10 ; ">
          <i class="fas fa-plus"></i>
        </button>
    
    
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Project</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" action="/createProject">
                  
                  <!-- Project name input -->
                  <div class="form-outline mb-4"name="projects">
                    <input type="text" id="projectName" class="form-control" name="name"  minlength="5" required/>
                    <label class="form-label" for="projectName"  >Project Name </label>
                  </div>
    
                   <!-- Project description input -->
                   <div class="form-outline mb-4"name="projects">
                    <input type="textarea" minlength="20" required id="projectDescription" class="form-control textArea" name="description"/>
                    <label class="form-label" for="projectDescription">Project Description </label>
                  </div>
                  
    
                  <!-- Submit button -->
                  <button type="submit" style="background-color: #5f424b; color: #fff;" class="btn btn-block mb-4">Submit</button>
                  
                  
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
                  Close
                </button>
    
              </div>
            </div>
          </div>
        </div>
    
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    </body>
    

    <%- include('common/footer'); %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" crossorigin="anonymous" ></script>
   <script>
        
       <% if (err) { %>
        swal("ERROR", "<%=msg%>", "<%=type%>");
         <% } %>
      </script>
  </body>
  </html>

