<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <%- include('common/links'); %>
        <style>
            body {
                font-family: #555;
            }

            .select-list {
                font-family: 'Open Sans', sans-serif;
                color: #555;
                background: #fff;
            }

            .select-list .title {
                display: inline-block;
                cursor: pointer;
                background: #fff;
                border: 1px solid #eaeaec;
                border-radius: 5px;
                padding: 10px 15px 10px 15px;
            }

            .select-list .title::after {
                display: inline-block;
                content: '>';
                margin-left: 15px;
                font-size: 11px;
                transform: rotate(90deg) scale(1, 2);
            }

            .select-list .title:hover {
                background: #eaeaec;
            }

            .select-list .select-options {
                margin-top: 5px;
                display: none;
                position: absolute;
                z-index: 500;
                border: 1px solid #eaeaec;
                background: #fff;
            }

            .select-list .select-options .option label {
                display: inline-block;
                padding: 10px 30px 10px 10px;
            }

            .select-list .select-options .option:hover {
                background: #eaeaec;
            }

            .select-list .select-options .option input {
                margin: 10px 0 12px 15px;
            }

            .formclass {
                width: 80%;
                margin: auto;
                padding: 10%;
            }

            .buttons {
                width: 7em;
                text-align: center;
                background-color: #4e333b;
                border-radius: 4px;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                padding: 1%;
                font-size: 1.2em;

            }

            .list-group>.list-group {
                display: none;
                margin-bottom: 0;

            }

            .list-group-item:focus-within+.list-group {
                display: block;

            }

            .list-group>.list-group-item {
                border-radius: 0;
                border-width: 1px 0 0 0;
                color: black;
            }

            .list-group>.list-group-item:first-child {
                border-top-width: 0;
            }

            .list-group>.list-group>.list-group-item {
                padding-left: 2.5rem;
            }

            .btn_cust {
                padding: 2%;
                background: rgb(81, 82, 96);
                color: #fff;
                width: 100%;
                border-radius: 2px;
                outline: none;
                border: none;
                cursor: pointer;
                transition: all ease 0.3s;
            }

            .btn_cust:focus {
                outline: none;
                border: none;

            }

            .myBtn {
                height: 2em;
                width: 2em;
            }

            .btn_close {
                background: red;
                width: 25%;
            }
        </style>

</head>

<body>
    <%- include('common/navbar',{user:navbar.user}); %>

        

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md" style="padding: 8%;">
                        <div class="card" style="padding: 6%;">
                            <div class="header">
                                <h4 class="title">Change Password</h4>
                            </div>
                            <div class="content" style="padding: 6%;">
                                <form action="/forgotpassword" method="POST">




                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>enter your email</label>
                                                <input type="email" name="email" required class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    



                                    <button class="buttons" type="submit" id="edit">Submit</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-7">
                        <img src="/images/changePassword.svg" class="img-fluid " alt="..." />
                    </div>
                </div>

            </div>

       


        <%- include('common/footer'); %>
        <script>
            <% if (err) { %>
            swal("<%=mtitle%>", "<%=msg%>", "<%=type%>");
             <% } %>
          </script>

           
</body>

</html>