<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <%- include('common/links'); %>
        <style>
            body {
                font-family: #555;
            }

            .select-list {
                font-family: 'Open Sans', sans-serif;
                color: #555;
                background: #fff;
            }

            .select-list .title {
                display: inline-block;
                cursor: pointer;
                background: #fff;
                border: 1px solid #eaeaec;
                border-radius: 5px;
                padding: 10px 15px 10px 15px;
            }

            .select-list .title::after {
                display: inline-block;
                content: '>';
                margin-left: 15px;
                font-size: 11px;
                transform: rotate(90deg) scale(1, 2);
            }

            .select-list .title:hover {
                background: #eaeaec;
            }

            .select-list .select-options {
                margin-top: 5px;
                display: none;
                position: absolute;
                z-index: 500;
                border: 1px solid #eaeaec;
                background: #fff;
            }

            .select-list .select-options .option label {
                display: inline-block;
                padding: 10px 30px 10px 10px;
            }

            .select-list .select-options .option:hover {
                background: #eaeaec;
            }

            .select-list .select-options .option input {
                margin: 10px 0 12px 15px;
            }

            .formclass {
                width: 80%;
                margin: auto;
                padding: 10%;
            }

            .buttons {
                width: 40%;
                background-color: #4e333b;
                border-radius: 4px;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                padding: 1%;
                font-size: 1.2em;

            }

            .list-group>.list-group {
                display: none;
                margin-bottom: 0;

            }

            .list-group-item:focus-within+.list-group {
                display: block;

            }

            .list-group>.list-group-item {
                border-radius: 0;
                border-width: 1px 0 0 0;
                color: black;
            }

            .list-group>.list-group-item:first-child {
                border-top-width: 0;
            }

            .list-group>.list-group>.list-group-item {
                padding-left: 2.5rem;
            }

            .btn_cust {
                padding: 2%;
                background: rgb(81, 82, 96);
                color: #fff;
                width: 100%;
                border-radius: 2px;
                outline: none;
                border: none;
                cursor: pointer;
                transition: all ease 0.3s;
            }

            .btn_cust:focus {
                outline: none;
                border: none;

            }

            .myBtn {
                height: 2em;
                width: 2em;
            }

            .btn_close {
                background: red;
                width: 25%;
            }

            .swiper-slide {
                text-align: center;
                font-size: 1.3em;
                background: rgb(81, 82, 96);
                color: white;
                border-radius: 2px;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
        </style>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
</head>

<body>
    <%- include('common/navbar',{user:navbar.user}); %>
        <%- include('common/sidenav',{id:navbar.projid}) %>
            <ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab0" data-mdb-toggle="tab" data-mdb-target="#home0"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Create meeting</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab0" data-mdb-toggle="tab" data-mdb-target="#profile0"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Mininute of the
                        meetings</button>
                </li>

            </ul>


            <div class="tab-content" id="myTabContent0">
                <div class="tab-pane fade show active" id="home0" role="tabpanel" aria-labelledby="home-tab0">
                    <div class="row">
                        <div class="col-md-6">

                            <form class="formclass" method="POST" action="/meeting">
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="form1Example1" class="form-control" name="name" minlength="5"/>
                                    <label class="form-label" for="form1Example1">Meeting name</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="form1Example2" class="form-control"
                                        name="meetPassword" />
                                    <label class="form-label" for="form1Example2">Password</label>
                                </div>

                                <!-- 2 column grid layout for inline styling -->

                                <div class="select-list" >
                                    <div class="title">Invite members</div>
                                    <div class="select-options">
                                        <div class="option">
                                            <input type="checkbox" name="attendes" id="option1" value="option1" />
                                            <label for="option1">Platform</label>
                                        </div>
                                        <div class="option">
                                            <input type="checkbox" name="attendes" id="option2" value="option2" />
                                            <label for="option2">Device ID</label>
                                        </div>
                                        <div class="option">
                                            <input type="checkbox" name="attendes" id="option3" value="option2" />
                                            <label for="option3">Token</label>
                                        </div>
                                        <div class="option">
                                            <input type="checkbox" name="attendes" id="option4" value="option2" />
                                            <label for="option4">Option 1</label>
                                        </div>
                                    </div>
                                
                        </div>


                        <br>
                        <!-- Submit button -->
                        <div style="text-align:center">
                            <button type="submit" class="buttons">Create</button>
                        </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/meetingtabimg.svg" class="img-fluid myImage" alt="..." />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile0" role="tabpanel" aria-labelledby="profile-tab0">







                <div class="containering">

                    <div class="row">

                        <div class="col-md" style="padding: 10%;">

                            <div class="list-group">
                                <a href="#" class="list-group-item">Meeting 1</a>
                                <div class="list-group">
                                    <div class="content">
                                        <br><br>
                                        <h2>This is the meeting heading</h2>

                                        <br><br>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque
                                            orci,
                                            convallis a malesuada sit amet, scelerisque eget dui. Proin sapien
                                            magna,
                                            tincidunt quis luctus vitae, vestibulum in velit. Duis vel bibendum
                                            tellus,
                                            id pharetra ex. Nam eget cursus quam. Maecenas eget leo ac quam
                                            consequat
                                            venenatis eu ut sem. Cras quis est sit amet leo malesuada consectetur.
                                            Pellentesque gravida eget lacus id condimentum.</p>

                                        <p>
                                            Etiam luctus massa risus, sed posuere magna accumsan ac. In velit magna,
                                            finibus eu suscipit sed, placerat a enim. Vivamus imperdiet ipsum a
                                            magna
                                            interdum feugiat. Nunc turpis lorem, ultrices ac imperdiet sed,
                                            dignissim et
                                            urna. Integer fermentum, erat ut mollis ultricies, neque erat pretium
                                            ipsum,
                                            ac aliquet sem justo vel ante. Cras ultrices ipsum sit amet consequat
                                            facilisis. Aenean consequat nunc leo, at ultricies risus venenatis nec.
                                            Sed
                                            gravida mauris vel eros porttitor, vel tristique nisl hendrerit. Donec
                                            ultrices mauris et elit aliquet gravid.
                                        </p>

                                        <span style="margin-right:0"> - by vishwam pandya</span>

                                    </div>
                                </div>

                                <a href="#" class="list-group-item">Meeting 2</a>
                                <div class="list-group">
                                    <div class="content">
                                        <br><br>
                                        <h2>This is the meeting heading</h2>

                                        <br><br>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque
                                            orci,
                                            convallis a malesuada sit amet, scelerisque eget dui. Proin sapien
                                            magna,
                                            tincidunt quis luctus vitae, vestibulum in velit. Duis vel bibendum
                                            tellus,
                                            id pharetra ex. Nam eget cursus quam. Maecenas eget leo ac quam
                                            consequat
                                            venenatis eu ut sem. Cras quis est sit amet leo malesuada consectetur.
                                            Pellentesque gravida eget lacus id condimentum.</p>

                                        <p>
                                            Etiam luctus massa risus, sed posuere magna accumsan ac. In velit magna,
                                            finibus eu suscipit sed, placerat a enim. Vivamus imperdiet ipsum a
                                            magna
                                            interdum feugiat. Nunc turpis lorem, ultrices ac imperdiet sed,
                                            dignissim et
                                            urna. Integer fermentum, erat ut mollis ultricies, neque erat pretium
                                            ipsum,
                                            ac aliquet sem justo vel ante. Cras ultrices ipsum sit amet consequat
                                            facilisis. Aenean consequat nunc leo, at ultricies risus venenatis nec.
                                            Sed
                                            gravida mauris vel eros porttitor, vel tristique nisl hendrerit. Donec
                                            ultrices mauris et elit aliquet gravid.
                                        </p>

                                        <span style="margin-right:0"> - by vishwam pandya</span>

                                    </div>
                                </div>


                                <a href="#" class="list-group-item">Meeting 3</a>
                                <div class="list-group">
                                    <div class="content">
                                        <br><br>
                                        <h2>This is the meeting heading</h2>

                                        <br><br>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque
                                            orci,
                                            convallis a malesuada sit amet, scelerisque eget dui. Proin sapien
                                            magna,
                                            tincidunt quis luctus vitae, vestibulum in velit. Duis vel bibendum
                                            tellus,
                                            id pharetra ex. Nam eget cursus quam. Maecenas eget leo ac quam
                                            consequat
                                            venenatis eu ut sem. Cras quis est sit amet leo malesuada consectetur.
                                            Pellentesque gravida eget lacus id condimentum.</p>

                                        <p>
                                            Etiam luctus massa risus, sed posuere magna accumsan ac. In velit magna,
                                            finibus eu suscipit sed, placerat a enim. Vivamus imperdiet ipsum a
                                            magna
                                            interdum feugiat. Nunc turpis lorem, ultrices ac imperdiet sed,
                                            dignissim et
                                            urna. Integer fermentum, erat ut mollis ultricies, neque erat pretium
                                            ipsum,
                                            ac aliquet sem justo vel ante. Cras ultrices ipsum sit amet consequat
                                            facilisis. Aenean consequat nunc leo, at ultricies risus venenatis nec.
                                            Sed
                                            gravida mauris vel eros porttitor, vel tristique nisl hendrerit. Donec
                                            ultrices mauris et elit aliquet gravid.
                                        </p>

                                        <span style="margin-right:0"> - by vishwam pandya</span>

                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="col-md">
                            <img src="/images/minOfmeeting.svg" class="img-fluid " alt="..." />
                        </div>
                    </div>

                    <button type="button" class="myBtn" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
                        style="background-color:#ff636b; border-radius: 4px; color:white;font-size: 1.5em;; position: fixed; bottom: 6%;left: 4%; z-index:10;">
                        <i class="fas fa-plus"></i>
                    </button>


                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Miniute of the meeting</h5>

                                </div>
                                <div class="modal-body">
                                    <form action="/meeting" method="post">
                                        <div class="form-outline mb-2">
                                            <select class="mdb-select md-form form-control" name="name">
                                                <option value="" disabled selected>Choose your meeting title</option>
                                                <option value="1">title 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                            <label class="form-label" for="meetingTitle">Meeting title</label>
                                        </div>

                                        <!-- meeting description input -->
                                        <div class="form-outline mb-4">
                                            <input type="textarea" id="meetingDescription" class="form-control textArea"
                                                name="description" />
                                            <label class="form-label" for="meetingDescription">Meeting Description
                                            </label>
                                        </div>

                                        <!-- author input -->
                                        <div class="form-outline mb-4">
                                            <input type="text" id="author" class="form-control textArea"
                                                name="author" />
                                            <label class="form-label" for="author">Author </label>
                                        </div>

                                        <!-- date input -->
                                        <div class="form-outline mb-4">
                                            <input type="date" id="date" class="form-control textArea" name="date" />
                                            <label class="form-label" for="date">Meeting date </label>
                                        </div>


                                        <!-- Submit button -->
                                        <button type="submit"
                                            class="btn_cust btn-primary btn-block mb-4">Submit</button>


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn_cust btn_close btn-danger"
                                        data-mdb-dismiss="modal">
                                        Close
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>








                </div>

            </div>



            <%- include('common/footer'); %>

                <script>
                    (function ($) {
                        $.fn.multiselect = function () {

                            var selector = this;
                            var options = $.extend({
                                onChange: function () { }
                            }, arguments[0] || {});

                            activate();

                            /////////

                            function activate() {

                                //events
                                $(selector).find('.title').on('click', function (e) {
                                    $(this).parent().find('.select-options').toggle();
                                });

                                $(selector).find('input[type="checkbox"]').change(function (e) {
                                    options.onChange.call(this);
                                });

                            }
                        };

                    }(jQuery));

                    $(document).ready(function () {
                        $('.select-list').multiselect({
                            onChange: updateTable
                        });
                    });

                    function updateTable() {
                        var checkboxValue = $(this).val();
                        var isChecked = $(this).is(':checked');

                    }
                </script>
                <script>
                    $(document).ready(function () {
                        $('.stepper').mdbStepper();
                    })

                    var swiper = new Swiper('.swiper-container', {
                        slidesPerView: 3,
                        spaceBetween: 30,
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                        },
                        loop: true
                    });
                </script>
                <script>
                    <% if (err) { %>
                      swal("ERROR", "<%=msg%>", "<%=type%>");
                    <% } %>
              
                  </script>
                <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />

</body>

</html>