<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <%- include('common/links'); %>
<style>
  .Joinb{
    background-color: rgb(39, 53, 116);
    width: 10%;
    color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
  }
  .acc{
    background-color: brown;
    width: 10%;
    color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
   
  }
  .acc:hover{
    background-color: rgb(170, 68, 68);
  }
  .Joinb:hover{
    background-color: rgba(39, 53, 116,0.9);
  }
  .swiper-slide {
                text-align: center;
                font-size: 1.3em;
                background: rgb(81, 82, 96);
                color: white;
                border-radius: 2px;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }
            
</style>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  </head>
  <body>
    <%- include('common/navbar',{user:navbar.user}); %>
    <%- include('common/sidenav',{id:navbar.projid} ) %>
 
    <div class="container">
        <br><br>
            <ul class="list-group">
            <li class="list-group-item active" aria-current="true">Notifications </li>
            <li class="list-group-item" style="position: relative;">Dapibus ac facilisis in <button class="Joinb " style=" position:absolute; right: 10px; bottom: 5px; ">Join</button> </li>
            <li class="list-group-item" style="position: relative;" >Morbi leo risus <button class="acc " style=" position:absolute; right: 10px; bottom: 5px;">Give Access</button>  </li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </div>

    <%- include('common/footer'); %>
    <script>
      $(document).ready(function () {
          $('.stepper').mdbStepper();
      })

      var swiper = new Swiper('.swiper-container', {
          slidesPerView: 3,
          spaceBetween: 30,
          pagination: {
              el: '.swiper-pagination',
              clickable: true,
          },
          loop: true
      });
  </script>
  </body>
  </html>
