<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <%- include('common/links'); %>
    <style>
      .select-list {
        font-family: 'Open Sans', sans-serif;
        color: #555;
        background: #fff;
      }

      .select-list .title {
        display: inline-block;
        cursor: pointer;
        background: #fff;
        border: 1px solid #eaeaec;
        border-radius: 5px;
        padding: 10px 15px 10px 15px;
      }

      .select-list .title::after {
        display: inline-block;
        content: '>';
        margin-left: 15px;
        font-size: 11px;
        transform: rotate(90deg) scale(1, 2);
      }

      .select-list .title:hover {
        background: #eaeaec;
      }

      .select-list .select-options {
        margin-top: 5px;
        display: none;
        position: absolute;
        z-index: 500;
        border: 1px solid #eaeaec;
        background: #fff;
      }

      .select-list .select-options .option label {
        display: inline-block;
        padding: 10px 30px 10px 10px;
      }

      .select-list .select-options .option:hover {
        background: #eaeaec;
      }

      .select-list .select-options .option input {
        margin: 10px 0 12px 15px;
      }

      .formclass {
        width: 70%;
        margin: auto;
        padding: 10%;
      }

      .buttons {
        width: 40%;
        background-color: #4e333b;
        border-radius: 4px;
        outline: none;
        border: none;
        cursor: pointer;
        color: white;
        padding: 1%;
        font-size: 1.2em;

      }

      .list-group>.list-group {
        display: none;
        margin-bottom: 0;

      }

      .list-group-item:focus-within+.list-group {
        display: block;

      }

      .list-group>.list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
        color: black;
      }

      .list-group>.list-group-item:first-child {
        border-top-width: 0;
      }

      .list-group>.list-group>.list-group-item {
        padding-left: 2.5rem;
      }

      .btn_cust {
        padding: 1%;
        background: rgb(81, 82, 96);
        color: #fff;
        width: 100%;
        border-radius: 2px;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all ease 0.3s;
      }

      .btn_cust:focus {
        outline: none;
        border: none;

      }

      .myBtn {
        height: 2em;
        width: 2em;
      }

      .btn_close {
        background: red;
        width: 40%;
      }

      .btn_save {
        padding: 2%;
        background: rgb(81, 82, 96);
        color: #fff;
        width: 20%;
        height: 10%;
        border-radius: 2px;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all ease 0.3s;
      }

      .Joinb {
        background-color: rgb(39, 53, 116);
        width: 10%;
        color: aliceblue;
        border-radius: 4px;
        cursor: pointer;
      }

      .acc {
        background-color: brown;
        width: 10%;
        color: aliceblue;
        border-radius: 4px;
        cursor: pointer;

      }

      .acc:hover {
        background-color: rgb(170, 68, 68);
      }

      .Joinb:hover {
        background-color: rgba(39, 53, 116, 0.9);
      }

      .swiper-slide {
        text-align: center;
        font-size: 1.3em;
        background: rgb(81, 82, 96);
        color: white;
        border-radius: 2px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
</head>

<body>
  <%- include('common/navbar',{user:navbar.user}); %>
    <%- include('common/sidenav',{id:navbar.projid,access:navbar.access} ) %>

      <ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab0" data-mdb-toggle="tab" data-mdb-target="#home0" type="button"
            role="tab" aria-controls="home" aria-selected="true">Send Notification</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab0" data-mdb-toggle="tab" data-mdb-target="#profile0" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Receive Notifications</button>
        </li>

      </ul>


      <div class="tab-content" id="myTabContent0">
        <div class="tab-pane fade show active" id="home0" role="tabpanel" aria-labelledby="home-tab0">
          <div class="container">
            <br><br>
            <ul class="list-group">
              <li class="list-group-item active" aria-current="true">Notifications </li>
              <li class="list-group-item" style="position: relative;">Dapibus ac facilisis in <button class="Joinb "
                  style=" position:absolute; right: 10px; bottom: 5px; ">Join</button> </li>
              <li class="list-group-item" style="position: relative;">Morbi leo risus <button class="acc "
                  style=" position:absolute; right: 10px; bottom: 5px;">Give Access</button> </li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>

            <!--Button and modal-->
            <button type="button" class="myBtn" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
              style="background-color:#ff636b; border-radius: 4px; cursor: pointer; color:white;font-size: 1.5em;; position: fixed; bottom: 7%;left: 4%; z-index:10; width:1.7em;height: 1.7em;">
              <i class="fas fa-plus"></i>
            </button>


            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Send Notification</h5>

                  </div>
                  <div class="modal-body">
                    <form action="/meeting" method="post">
                      <!--title-->
                      <!--
                     

                      <!-- send to input -->
                      <div class="form-outline mb-4">
                        <input type="textarea" id="meetingDescription" class="form-control textArea"
                          name="to" minlength="5" />
                        <label class="form-label" for="meetingDescription">Send to
                        </label>
                      </div>

                      <div class="form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio1">Type : </label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="giveAccess" />
                        <label class="form-check-label" for="inlineRadio1">give access</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="normalTalks"
                          checked />
                        <label class="form-check-label" for="inlineRadio2">normal talks</label>
                      </div>

                      <br>
                      <br>


                      <div class="form-outline mb-4">

                        <!-- <div class="col-md">-->

                        <div class="select-list" style="display:none;" id="taskList">
                          <div class="title">Task</div>
                          <div class="select-options">
                            <div class="option">
                              <input type="checkbox" name="vehicle" id="option1" value="" />
                              <label for="option1">task 1</label>
                            </div>
                            <div class="option">
                              <input type="checkbox" name="vehicle" id="option2" />
                              <label for="option2">task 2</label>
                            </div>
                            <div class="option">
                              <input type="checkbox" name="vehicle" id="option3" />
                              <label for="option3">task 3</label>
                            </div>
                            <div class="option">
                              <input type="checkbox" name="vehicle" id="option4" />
                              <label for="option4">task 4</label>
                            </div>
                          </div>
                        </div>

                        <!-- </div>-->
                      </div>

                      <!-- text input -->
                      <div class="form-outline mb-4">
                        <input type="textarea" id="textDescription" class="form-control textArea"
                          name="description" minlength="8"  />
                        <label class="form-label" for="textDescription">Text
                        </label>
                      </div>


                      <!-- Submit button -->
                      <button type="submit" class="btn_cust btn-primary btn-block mb-4">Submit</button>


                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn_cust btn_close btn-danger" data-mdb-dismiss="modal">
                      Close
                    </button>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="profile0" role="tabpanel" aria-labelledby="profile-tab0">

          <div class="container">
            <br><br>
            <ul class="list-group">
              <li class="list-group-item active" aria-current="true">Notifications </li>
              <li class="list-group-item" style="position: relative;">Dapibus ac facilisis in <button class="Joinb "
                  style=" position:absolute; right: 10px; bottom: 5px; ">Join</button> </li>
              <li class="list-group-item" style="position: relative;">Morbi leo risus <button class="acc "
                  style=" position:absolute; right: 10px; bottom: 5px;">Give Access</button> </li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>



          </div>

        </div>


        <%- include('common/footer'); %>

          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
          <script>
            $(document).ready(function () {
              $("div.desc").hide();
              $("input[name$='type']").click(function () {
                var test = $(this).val();
                if(test=="normalTalks"){
                  $("#taskList").hide();
                }
                else{
                $("#taskList").show();
                }
              });
            });
          </script>

          <script>
            (function ($) {
              $.fn.multiselect = function () {

                var selector = this;
                var options = $.extend({
                  onChange: function () { }
                }, arguments[0] || {});

                activate();

                /////////

                function activate() {

                  //events
                  $(selector).find('.title').on('click', function (e) {
                    $(this).parent().find('.select-options').toggle();
                  });

                  $(selector).find('input[type="checkbox"]').change(function (e) {
                    options.onChange.call(this);
                  });

                }
              };

            }(jQuery));

            $(document).ready(function () {
              $('.select-list').multiselect({
                onChange: updateTable
              });
            });

            function updateTable() {
              var checkboxValue = $(this).val();
              var isChecked = $(this).is(':checked');

            }
          </script>
          <script>
            $(document).ready(function () {
              $('.stepper').mdbStepper();
            })

            var swiper = new Swiper('.swiper-container', {
              slidesPerView: 3,
              spaceBetween: 30,
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
              },
              loop: true
            });
          </script>

</body>

</html>