<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <%- include('common/links'); %>
    <style>
         body {
      font-family: #555;
    }

    

   
    
    
    .formclass {
      width: 80%;
      margin: auto;
      padding: 10%;
    }

    .buttons {
      width: 7em;
      text-align: center;
      background-color: #4e333b;
      border-radius: 4px;
      outline: none;
      border: none;
      cursor: pointer;
      color: white;
      padding: 1%;
      font-size: 1.2em;

    }

    .list-group>.list-group {
      display: none;
      margin-bottom: 0;

    }

    .list-group-item:focus-within+.list-group {
      display: block;

    }

    .list-group>.list-group-item {
      border-radius: 0;
      border-width: 1px 0 0 0;
      color: black;
    }

    .list-group>.list-group-item:first-child {
      border-top-width: 0;
    }

    .list-group>.list-group>.list-group-item {
      padding-left: 2.5rem;
    }

    .btn_cust {
      padding: 2%;
      background: rgb(81, 82, 96);
      color: #fff;
      width: 100%;
      border-radius: 2px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all ease 0.3s;
    }

    .btn_cust:focus {
      outline: none;
      border: none;

    }

    .myBtn {
      height: 2em;
      width: 2em;
    }

    .btn_close {
      background: red;
      width: 25%;
    }
    </style>

  </head>
  <body>
    <%- include('common/navbar',{user:navbar.user}); %>
 
    <ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab0" data-mdb-toggle="tab" data-mdb-target="#home0" type="button"
            role="tab" aria-controls="home" aria-selected="true">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab0" data-mdb-toggle="tab" data-mdb-target="#profile0" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Change Password</button>
        </li>
    
      </ul>
    
    
      <div class="tab-content" id="myTabContent0">
    
        <div class="tab-pane fade show active" id="home0" role="tabpanel" aria-labelledby="home-tab0">
          <!--Tab 1-->
          <div class="container-fluid">
    
            <div class="row">
    
              <div class="col-md-8" style="padding: 3%;">
                <div class="card" style="padding: 3%;">
                  <div class="header">
                    <h4 class="title">Edit Profile</h4>
                  </div>
                  <div class="content">
                    <form action="/profile" method="POST">

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="fname" disabled class="form-control edit" minlength="3" placeholder="Company"
                              value="<%=data.name.fname%>">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="lname" disabled class="form-control edit" minlength="3" placeholder="Last Name"
                              value="<%=data.name.lname%>">
                          </div>
                        </div>
                      </div>
    
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Gender</label>
                            <input type="text" disabled class="form-control edit" name="gender" placeholder="Gender"
                              value="<%=data.gender%>">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>D.O.B</label>
                            <% const date=data.DOB.slice(0,10) %>
                            <input type="date" disabled class="form-control edit" name="DOB" placeholder="Dateogbirth"
                              value="<%=date%>">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Phone Number</label>
                            <input type="number" disabled name="phone" class="form-control edit" placeholder="Phone Number"
                              value="<%=data.phone%>">
                          </div>
                        </div>
                      </div>
    
  
                      <button class="buttons" id="edit" >Edit</button>
                       &nbsp;
                      <button class="buttons"  >Submit</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
    
              </div>
    
              <div class="col-md-4" style="padding-left: 12%">
                <img src="/images/profilePic.svg" class="img-fluid " alt="..." width="80%"/>
              </div>
            </div>
    
          </div>
    
        </div>
    
        <div class="tab-pane fade" id="profile0" role="tabpanel" aria-labelledby="profile-tab0">
          <!--Tab2-->
    
          <div class="container-fluid">
            <div class="row">
    
              <div class="col-md" style="padding: 8%;">
                <div class="card" style="padding: 6%;">
                  <div class="header">
                    <h4 class="title">Change Password</h4>
                  </div>
                  <div class="content" style="padding: 6%;" >
                    <form action="/changepassword" method="POST">
  
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="n_password" required minlength="8"  class="form-control" >
                          </div>
                        </div>
                      </div>
    
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="c_password" required minlength="8"  class="form-control" >
                          </div>
                        </div>
                      </div>
    
    
    
                      <button class="buttons"  id="edit" >Submit</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
    
              </div>
    
              <div class="col-md-7">
                <img src="/images/changePassword.svg" class="img-fluid " alt="..." />
              </div>
            </div>
            
          </div>
    
        </div>
    
      </div>
    

    <%- include('common/footer'); %>
    <script>
      <% if (err) { %>
      swal("ERROR", "<%=msg%>", "<%=type%>");
       <% } %>
    </script>
    <script>
        let flag=1;
         let edit=document.querySelector("#edit");
          edit.addEventListener("click",(e)=>{
              e.preventDefault();
              let edits=document.querySelectorAll(".edit");
               edits.forEach( (ele)=>{
                     
                     ele.disabled=(flag==1)? false : true;   
               } );
               flag= !flag; 
          } );
    
        </script>
  </body>
  </html>

