<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <%- include('common/links'); %>

  </head>
  <body style="text-align: center;">
    <%- include('common/navbar',{user:navbar.user}); %>
 <span id="meet" style="margin: auto; width: 100%;" > </span>


    <%- include('common/footer'); %>
    <script src='https://meet.jit.si/external_api.js'></script>
    <script>
    const domain = 'meet.jit.si';
const options = {
    roomName: '<%=room%>',
    width: window.screen.width ,
    height:window.screen.height- 212,
    parentNode: document.querySelector('#meet'),
    interfaceConfigOverwrite:{
    SHOW_BRAND_WATERMARK: false,
    SHOW_JITSI_WATERMARK: false,
    SHOW_WATERMARK_FOR_GUESTS: false,
    SHOW_POWERED_BY: false
    }
    
};
const api = new JitsiMeetExternalAPI(domain, options);
    </script>
  </body>
  </html>

