
<div class="swiper-container">
    <div class="swiper-wrapper">
            

        <div class="swiper-slide  "><a href="/project/<%=id%>" style="width:100%; text-decoration: none;" ><i class="fas fa-laptop-house"></i> &nbsp;Workspace &nbsp;<i
                class="fas fa-angle-double-right"></i></a>
        </div>
       <%if(access){%> 
        <div class="swiper-slide"> <a href="/accesscontrol/<%=id%>"style="width:100%; text-decoration: none;"> <i class="fas fa-user-plus"></i> &nbsp;Access Control &nbsp;<i
                class="fas fa-angle-double-right"></i></a></div>

        
                <div class="swiper-slide"><a href="/manageTask/<%=id%>"style="width:100%; text-decoration: none;"><i class="fas fa-eye"></i> &nbsp; Manage Task </a>&nbsp;<i
                class="fas fa-angle-double-right"></i></a></div>
       
                <div class="swiper-slide"><a href="/meeting/<%=id%>"style="width:100%; text-decoration: none;"><i class="fas fa-video"></i>&nbsp; Meet</a>&nbsp;<i
                class="fas fa-angle-double-right/<%=id%>"></i></a></div>
            <%}%>        
                <div class="swiper-slide"><a href="/notification/<%=id%>"style="width:100%; text-decoration: none;"> <i class="fas fa-comment-alt"></i> &nbsp; Communication </a></div>


    </div>
    <!-- Add Pagination -->

</div>
<br>
